<div class="main-about">
  <h1>About Us</h1>
</div>
<div class="supporting">
  <div class="about-container">
    <h2>Our Story</h2>
    <p> Our company was founded in 2015 by a group of friends who wanted to make a difference in the world. We believe that everyone should have access to the internet.</p>
    <button><%= link_to "Signup", contact_path %></button>
  </div>
</div>